/Code/Conf/db.global.php
/Code/Conf/config.global.php

/Code/Data
/.buildpath
/.project
/.settings
/Code/Conf/config.setting.php
/Uploadfile/
/Uploadfile
/Uploadfile/*

/Code/App/Admin/Conf/domains.php
/Code/App/Adv/Conf/domains.php
/Code/App/Home/Conf/domains.php
/Code/App/Web/Conf/domains.php
/Code/Conf/domains.php
